
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

/* -- NAVEGAÇÃO */

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    max-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 3px #FF9000;
    background-color: #f4f4f4;
}

ul {
    display: flex;
    margin-top: 18px;
    gap: 40px;
    align-items: center;
}

nav img {
    width: 180px;
    margin-left: 20px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #FF9000;
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

nav button, .mobile-menu button {
    background: transparent;
    border: none;
}

nav i, .mobile-menu i {
    color: #FF9000;
    margin-right: 20px;
}

nav button:hover, .mobile-menu button:hover {
    transition: 0.3s all;
    transform: scale(1.1);
    font-size: 20x;
}

li a:hover {
    transition: 0.3s all;
    transform: scale(1.1);
    font-size: 20x;
}

.border-c {
    border: solid 2px #FF9000;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}

.border-c:hover {
    border: solid 2px #FF9000;
    background-color: #FF9000;
    color: #ffffff;
    transition: 0.3s all;
    transform: scale(1.1);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 1px 10px 40px;
}

.mobile-menu {
    display: none;
}

.menubtn {
    display: none;
}

/* -- RESPONSIVIDADE -- */

@media only screen and (max-width: 1060px) {
    #menu {
     display: none;
    }

   .mobile-menu ul {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    border-bottom: solid 2px #FF9000;
    text-align: center;
    padding: 10px 0px;
   }

   ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 15px;
   }

   .menubtn {
    display: block;
    padding-right: 20px;
    color: #FF9000;
    font-size: 40px;
   }

   .mobile-menu i {
    margin-right: 0px;
    }

   .open {
    display: block;
   }

   li a {
    font-size: 20px;
    border-bottom: solid 2px #FF9000;
   }
}

@media only screen and (max-width: 560px) {
    nav {
        max-height: 7.5vh;
    }

    nav img {
        width: 130px;
        margin-left: 10px;
    }

    .menubtn {
        padding-right: 10px;
        font-size: 38px;
    }

    li a {
    font-size: 16px;
   }
}

 /* -- APRESENTAÇÃO -- */

.sessao1 {
    padding-top: 16vh;
}

.div-apresentacao {
    margin: 0px 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .div-apresentacao div {
     max-width: 60%;
 }

 .div-apresentacao div h1 {
     color: #FF9000;
     font-size: 50px;
     font-weight: 600;
     border-bottom: solid 2px #FF9000;
     max-width: 90%;
}
    
.div-apresentacao div p {
    font-size: 19px;
    margin-bottom: 30px;
    max-width: 90%;
    text-align: justify;
 }

 .div-apresentacao img {
    max-width: 40%;
    border: solid 10px #FF9000;
    border-radius: 20px;
 }

.div-apresentacao div a {
    background-color: #f4f4f4;
    padding: 10px 20px;
    font-size: 20px;
    color: #FF9000;
    border: solid 2px #FF9000;
    border-radius: 5px;
    text-decoration: none;
}

.div-apresentacao div a:hover {
    background-color: #FF9000;
    color: #ffffff;
    border: solid 2px #ffffff;
    transition: 0.3s all;
    cursor: pointer;
    box-shadow: 0px 0px 20px;
}

 /* -- RESPONSIVIDADE -- */

 @media only screen and (max-width: 1040px) {

     .div-apresentacao div h1 {
        font-size: 40px;
    }

     .div-apresentacao div p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .div-apresentacao div a {
        padding: 6px 12px;
        font-size: 16px;
    }
 }

 @media only screen and (max-width: 860px) {

    .div-apresentacao {
        margin: 0px 30px;
    }
    
    .div-apresentacao div h1 {
        font-size: 30px;
    }
    
    .div-apresentacao div p {
        margin-bottom: 10px;
    }

    .div-apresentacao div a {
        padding: 6px 12px;
    }
 }

 @media only screen and (max-width: 580px) {

    .div-apresentacao {
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        max-width: none;
    }

    .div-apresentacao img {
        margin-top: 20px;
        max-width: none;
        width: 200px;
        align-self: self-end;

    }

    .div-apresentacao div {
        max-width: none;
    }

     .div-apresentacao div h1 {
        font-size: 30px;
        max-width: 100%;
    }

     .div-apresentacao div p {
        margin-bottom: 10px;
        max-width: 100%;
    }

    .div-apresentacao div a {
        padding: 5px 10px;
    }

 }

 @media only screen and (max-width: 360px) {

    .div-apresentacao {
        display: flex;
        flex-direction: column;
    }

    .div-apresentacao img {
        display: none;
    }

     .div-apresentacao div h1 {
        font-size: 20px;
    }
 }

 /* --- SESSAO 2 ---  */

 .section2 {
    margin: 0px 80px;
    margin-top: 15vh;
    border: solid 3px #FF9000;
    border-radius: 20px;
    padding: 20px;
}

.div-introducao h2 {
    text-align: center;
    font-size: 40px;
    color: #1C1C1C;
    padding-top: 50px;
    margin: 10px;
}

span {
    color: #FF9000;
}

.div-conteudo-sessao2 img {
    height: 300px;
    margin: 0px 20px;
}

.div-conteudo-sessao2 {
    display: flex;
    flex-direction: row;
    margin: 40px 30px;
}

.div-conteudo-sessao2 p {
    font-size: 16px;
    text-align: justify;
}

.div-conteudo-sessao2 h3 {
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #FF9000;
}


/* --- RESPONSIVIDADE ---  */

@media only screen and (max-width: 1060px) {
    .div-conteudo-sessao2 img {
        height: auto;
        margin: 20px;
    }

    .div-conteudo-sessao2 {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 860px) {
    .section2 {
        margin: 0px 30px;
        margin-top: 10vh;
    }

    .div-conteudo-sessao2 img {
        margin: 10px;
    }

    .div-conteudo-sessao2 div {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 760px) {
    .div-introducao h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 580px) {
    .section2 {
        margin: 0px 15px;
        border: none;
        border-radius: 0px;
        padding: 0px;
    }

    .div-conteudo-sessao2 p {
        font-size: 16px;
    }

    .div-conteudo-sessao2 {
        margin: 0px;
    }

    .div-conteudo-sessao2 h3 {
        font-size: 20px;
    }

    .div-introducao h2 {
        font-size: 25px;
    }

}

/*--- FOOTER --- */
.div-pai-footer {
    background-color: #f4f4f4;
    border-top: solid 3px #FF9000;
    padding: 30px;
    margin-top: 10vh;
}

.div-pai-footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-pai-footer img {
    width: 200px;
    margin: 20px 0px;
}

.div-pai-footer h6 {
    font-size: 17px;
}

.div-pai-footer p {
    text-align: center;
}

/* --- RESPONSIVIDADE --- */

@media only screen and (max-width: 800px) {
    .div-pai-footer {
        padding: 15px;
    }

    .div-pai-footer h6 {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .div-pai-footer {
        padding: 10px;
    }
    
    .div-pai-footer p {
        font-size: 14px;
    }

    .div-pai-footer img {
        width: 130px;
        margin: 10px 0px;
    }
}